@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600i,700&display=swap');

body {
  margin:0;
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
.container{
  max-width: 1120px;
  margin:auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}

/*Header*/
header{
  position: absolute;
  left:10px;
  right:0px;
  border-bottom: 1px solid #ffffff;
  padding: 0px 15px;
  z-index: 10;
}

header .row{
  justify-content: space-between;
  align-items: center;
}

header .brand-name a{
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
  left: -130px;
}

header .brand-name a::before{
  content: '';
  height: 3px;
  background-color:#ffffff;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 100%;
}

header .navbar ul{
  list-style: none;
  padding:0;
  margin:0;
}

header .navbar ul li{
  display: inline-block;
  margin-left:35px;
}

header .navbar ul li a{
  font-size: 15px;
  text-decoration: none;
  line-height: 72px;
  color: #ffffff;
  display: block;
  font-weight: 600;
  position: relative;
}

header .navbar ul li a::before{
  content:'';
  height: 3px;
  background-color:#ffffff;
  width:0%;
  position: absolute;
  right:0px;
  bottom:-1px;
  transition: all .5s ease;
}

header .navbar ul li a:hover::before{
  width: 100%;
  left: 0;
}

header .navbar ul li a:active::before{
  width: 100%;
  left: 0;
}

/*Home Section*/

.home{
  min-height: 100vh;
  background-image: url(https://freedesignfile.com/upload/2016/10/Cheering-crowd-at-a-rock-concert-HD-picture-07.jpg);
  background-size:cover;
  background-position:center;
  padding: 15px;
}

.home .full-screen{
  min-height: 100vh;
}

.home .home-content{

  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  flex-wrap:wrap;
  align-items: center;

}

.home .home-content .block{
  flex: 0 0 75%;
  max-width: 75%;
  padding-left: 200px;
  text-align: center;
  margin-top: 0px;
  padding-bottom: 200px;

}

.home .home-content .block p1{
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  margin: 50px;
  padding: 0;
  text-align: center;

}

.home .home-content .block h1{
  color: #ffffff;
  font-size: 60px;
  font-weight: 700px;
  margin:0px;
  padding: 0;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.home .home-content .block .sign-btn{
  padding-top: 20px;

}

.home .home-content .block .sign-btn a{
  border-radius: 3px;
  color:#ffffff;
  border: 1px solid #ffffff;
  padding: 12px 25px;
  text-decoration: none;
  display: inline-block;
  font-size:14px;
  text-transform: uppercase;
  font-weight: 500;
  transition: all .5s ease;

}

.home .home-content .block .sign-btn a:hover{
  background-color: #ffffff;
  color: #ffffff;

}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 149, 0, 0.5);
}

.search-box{
  position: absolute;
  top: 50%;
  left: 23%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}

.search-box:hover > .search-txt{
  width: 240px;
  padding: 0 6px;
}

.search-box:hover > .search-btn{
  background: white;
}
.search-btn{
  color: #e84118;
  float: right;
  width: 25px;
  height: 20px;
  border-radius: 50%;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.search-txt{
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #e84118;
  font-size: 16px;
  transition: 0.4s;
  line-height: 20px;
  width: 0px;
}
